*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
#img{
    height: 500px;
    width: 500px;
    justify-content: center;
    margin: 0 30% 0 30%;
}